body {
    background-color: lightslategrey;
}
.jumbotron {
    background-color: black;
    color: white;
}
.card-header {
    background-color: black;
    color: white;
}
#add-search-btn {
    margin-right: 15px;
}